.recipe-card {
    padding: 20px;
    border: 2px solid black;
    margin: 20px auto;
    width: 700px;
}

.recipe-card h1 {
    font-family: 'Franklin Gothic Medium';
}

.recipe-card p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}

