* {
    line-height: 1.7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Franklin Gothic Medium';
}

p, a {
    font-family: 'Roboto', sans-serif;
}

.page-title {
    text-align: center;
    margin-top: 20px;
}

.recipe-wrapper {
    width: 800px;
    border: 2px solid black;
    margin: 20px auto 25px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);
}

.recipe-image {
    display: inline-block;
    height: 300px;
    width: 200px;
    vertical-align: top;
}

.recipe-card {
    display: inline-block;
    width: 580px;
    height: 300px;
    vertical-align: top;
    margin: 0px 6px 0px;
}

.recipe-card a {
    display: inline-block;
    text-decoration: none;
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.95);
    color: rgb(240, 255, 255);
    margin: 14px 65px;
    font-size: 16px;
}

.recipe-card a:hover {
    background-color: rgba(0, 0, 0, 0.865)
}

.recipe-info {
    display: inline-block;
    vertical-align: top;
    border-top: 1.5px dotted rgba(102, 102, 102, 0.645);
    border-bottom: 1.5px dotted rgba(102, 102, 102, 0.645);
    margin: 8px 0px;
    padding: 6px 0px;
}

.recipe-info-list {
    list-style: none;
    display: inline-block;
}

.recipe-info-item {
    display: inline-block;
    text-align: center;
    padding-right:5px;
    margin-right: 5px;
}

.recipe-info-item h2 {
    font-size: 16px;
    margin: 6px 5px;
}

.recipe-info-item p {
    font-size: 14px;
}

.recipe-info-item:nth-child(-n+2) {
    border-right: 1.5px solid rgba(102, 102, 102, 0.345);
}


