* {
    line-height: 1.7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Franklin Gothic Medium';
}

p {
    font-family: 'Roboto', sans-serif;
}

.page-title {
    text-align: center;
    margin-top: 20px;
}

.recipe-wrapper {
    width: 644px;
    padding: 12px 20px;
    border: 2px solid black;
    margin: 20px auto;
}

.recipe-card a {
    display: inline-block;
    padding: 20px;
    background-color: beige;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 120px;
}

.recipe-card a:hover {
    background-color: antiquewhite;
}

.recipe-info {
    display: inline-block;
    vertical-align: top;
    border-top: 1.5px dotted rgba(102, 102, 102, 0.645);
    border-bottom: 1.5px dotted rgba(102, 102, 102, 0.645);
    margin: 8px 0px;
}

.recipe-info-list {
    list-style: none;
    display: inline-block;
}

.recipe-info-item {
    display: inline-block;
    text-align: center;
    padding-right:5px;
    margin-right: 5px;
}

.recipe-info-item h2{
    font-size: 16px;
    margin: 6px 5px;
}

.recipe-info-item:nth-child(-n+2) {
    border-right: 1.5px solid rgba(102, 102, 102, 0.345);
}


